[Desktop Entry]
Name=SimpleConvert
Comment=Convert multiple files to another filetype
Exec=simpleconvert
Terminal=false
Type=Application
Categories=Qt;Multimedia;
StartupNotify=true
Icon=net.bartkessels.SimpleConvert
