[Desktop Entry]
Name=Simple Convert
Comment=Convert multiple files to another filetype
Comment[nl]=Converteer verschillende bestanden naar een ander bestandstype
Exec=simpleconvert
Terminal=false
Type=Application
Categories=GTK;Tools
StartupNotify=true
Icon=video-x-generic
