[Desktop Entry]
Name=Simple Convert
Exec=python3 simplevideoconvert
Terminal=false
Type=Application
Categories=GTK;Tools
StartupNotify=true
Icon=media-playback-start
